openapi: 3.0.3
info:
  title: Account API
  description: >
    # Introduction


    The Account API allows you to manage projects. Project is Scaleway’s
    resource management feature. Designed to help you organize your
    infrastructure and cloud services, the feature allows resources to be
    isolated and grouped into specific projects.
  version: v2
servers:
  - url: 'https://api.scaleway.com'
tags:
  - name: Projects
  - name: Servers
    description: |
      A server represents a dedicated elastic metal server.
  - name: Server Actions
    description: |
      Server actions allows you to start, stop or reboot your servers.
  - name: BMC access
    description: >
      BMC (Baseboard Management Controller) access allow you to access serie
      console of your elastic metal server.

      The BMC (Baseboard Management Controller) access feature is available one
      hour after the installation of the server.

      You need first to create an option Remote Access. You will find the ID and
      the price with a call to listOffers
      (https://developers.scaleway.com/en/products/baremetal/api/#get-78db92).
      Then you can add the option
      https://developers.scaleway.com/en/products/baremetal/api/#post-b14abd. Do
      not forget to delete the Option.

      Then you need to create Remote Access
      https://developers.scaleway.com/en/products/baremetal/api/#post-1af723.

      And filnally Get Remote Access to get the login/password
      https://developers.scaleway.com/en/products/baremetal/api/#get-cefc0f.
  - name: Offers
  - name: Options
  - name: OS
  - name: Consumption
    description: >
      The consumption represents the amount of money you have spent for the
      products you have consumed.

      The value is not computed in real time.

      The value of the consumption is a monetary value.
  - name: Invoices
  - name: DNS Zones
  - name: Records
  - name: Versions
  - name: Imports / Exports
  - name: Flexible IP
    description: |
      A Flexible IP can be attached to any server in the same zone.
      A server can be linked with multiple Flexible IPs attached to it.
  - name: SSH Keys
  - name: Groups
  - name: API Keys
  - name: Users
  - name: Applications
  - name: Policies
  - name: Rules
  - name: Permission sets
  - name: Images
    description: >
      Images are backups of your instances.

      You can reuse that image to restore your data or create a series of
      instances with a predefined configuration.


      An image is a complete backup of your server including all volumes.
  - name: Security Groups
    description: >
      A security group is a set of firewall rules on a set of instances.

      Security groups enable to create rules that either drop or allow incoming
      traffic from certain ports of your instances.


      Security Groups are stateful by default which means return traffic is
      automatically allowed, regardless of any rules.

      As a contrary, you have to switch in a stateless mode to define explicitly
      allowed.
  - name: User-Data
    description: >
      User data is a key value store API you can use to provide data from and to
      your server without authentication.


      As an example of use, Scaleway images contain the script
      scw-generate-ssh-keys which generates SSH server’s host keys then stores
      their fingerprints as user data under the key “ssh-host-fingerprints”.

      This way, we ensure they are really connecting to their Scaleway instance
      and they are not victim of a man-in-the-middle attack.


      There are two endpoints to access user data:
       - **From a running instance**, by using the metadata API at http://169.254.42.42/user_data.
         To enhance security, we only allow user data viewing and editing as root.
         To know if the query is issued by the root user, we only accept queries made from a local port below 1024 (by default, non-root users can’t bind ports below 1024).
         To specify the local port with cURL, use `curl --local-port 1-1024 http://169.254.42.42/user_data`
       - **From the instance API** at using methods described bellow.
  - name: Server types
    description: >
      Server types will answer with all instance types available in a given
      zone.

      Each of these types will contains all the features of the instance (CPU,
      RAM, Storage) with their associated pricing.
  - name: Volume types
    description: >
      Volume types will answer with all volume types available in a given zone.

      Each of these types will contains all the capabilities and constraints of
      the volume (min size, max size, snapshot).
  - name: IPs
    description: >
      A flexible IP address is an IP address which you hold independently of any
      server.

      You can attach it to any of your servers and do live migration of the IP
      address between your servers.


      Be aware that attaching a flexible IP address to a server will remove the
      previous public IP address of the server and cut any ongoing public
      connection to the server.
  - name: Volumes
    description: >
      A volume is where you store your data inside your instance. It

      appears as a block device on Linux that you can use to create

      a filesystem and mount it.


      We have two different types of volume (`volume_type`):
        - `l_ssd` is a local block storage: your data is downloaded on
          the hypervisor and you need to power off your instance to attach
          or detach a volume.
        - `b_ssd` is a remote block storage: your data is stored on a
          centralised cluster. You can plug and unplug a volume while
          your instance is running. As of today, `b_ssd` is only available
          for `DEV1`, `GP1` and `RENDER` offers.

      note: The `unified` volume type is not available for volumes. This

      type can only be used on snapshots.


      Minimum and maximum volume sizes for each volume types can be queried

      from the zone `/products/volumes` API endpoint. _I.e_ for:
        - `fr-par-1`  use https://api.scaleway.com/instance/v1/zones/fr-par-1/products/volumes
        - `nl-ams-1`  use https://api.scaleway.com/instance/v1/zones/nl-ams-1/products/volumes

      Each types of volumes is also subject to a global quota for the sum of all
      the

      volumes. This quota depends of the level of support and may be

      changed on demand.


      Be wary that when terminating an instance, if you want to keep

      your block storage volume, **you must** detach it beforehand you

      issue the `terminate` call.


      When using multiple block devices, it's advised to mount them by

      using their UUID instead of their device name. A device name is

      subject to change depending on the volumes order. Block devices

      UUIDs can be found in `/dev/disk/by-id/`.
  - name: Snapshots
    description: >
      Snapshots contain the data of a specific volume at a particular point in
      time.

      The data can include the instance's operating system,

      configuration information or files stored on the volume.


      A snapshot can be done from a specific volume (for example you

      have a server with a volume containing the OS and another one

      containing the application data, and you want to use different

      snapshot strategies on both volumes).


      A snapshot's volume type can be either its original volume's type

      (`l_ssd` or `b_ssd`) or `unified`. Similarly, volumes can be created as
      well from snapshots

      of their own type or `unified`. Therefore, to migrate data from a `l_ssd`
      volume

      to a `b_ssd` volume, one can create a `unified` snapshot from the original
      volume

      and a new `b_ssd` volume from this snapshot. The newly created volume will
      hold a copy

      of the data of the original volume.
  - name: Bootscripts
    description: >
      Bootscripts are a combination of a
      [Kernel](https://en.wikipedia.org/wiki/Kernel_(operating_system)) and of
      an [initrd](https://en.wikipedia.org/wiki/Initial_ramdisk).

      They tell to the instance how to start and configure its starting process
      and settings.


      Bootscripts usage is now deprecated.


      Scaleway recommends that you take the "local" boot method that will
      automatically launch your instance with your locally installed kernel.

      It gives you full control over the booting process of your instance.
  - name: Placement Groups
    description: |
      Placement groups allow the user to express a preference regarding
      the physical position of a group of instances. It'll let the user
      choose to either group instances on the same physical hardware for
      best network throughput and low latency or to spread instances on
      far away hardware to reduce the risk of physical failure.

      The operating mode is selected by a `policy_type`. Two policy
      types are available:
        - `low_latency` will group instances on the same hypervisors
        - `max_availability` will spread instances on far away hypervisors

      The `policy_type` is set by default to `max_availability`.

      For each policy types, one of the two `policy_mode` may be selected:
        - `optional` will start your instances even if the constraint is not respected
        - `enforced` guarantee that if the instance starts, the constraint is respected

      The `policy_mode` is set by default to `optional`.
  - name: Private NICs
    description: |
      A Private NIC is the network interface that connects a server to a
      Private Network. There can be at most one Private NIC connecting a
      server to a network.
  - name: Clusters
    description: >
      A cluster is a fully managed Kubernetes cluster.


      It is composed of different pools, each pool containing the same kind of
      nodes.
  - name: Pools
    description: >
      A pool is a set of identical Nodes. A pool has a name, a size (its current
      number of nodes), nodes number limits (min, max) and a Scaleway instance
      type.

      Changing those limits increases/decreases the size of a pool. Thus, when
      autoscaling is enabled, the pool will grow or shrink inside those limits,
      depending on its load.

      A "default pool" is automatically created with every cluster.
  - name: Nodes
    description: >
      A node (short for worker node) is an abstraction for a Scaleway Instance.

      It is part of a pool and is instantiated by Scaleway, making Kubernetes
      software installed and configured automatically on it.

      Please note that Kubernetes nodes cannot be accessed with ssh.
  - name: Backups
    description: |
      Save and restore backups of your database instance.
  - name: Engines
    description: >
      Software that stores and retrieves data from a database. Each database
      engine has a name and versions.
  - name: Database Instances
    description: >
      A Database Instance is composed of one or more Nodes, depending of the
      is_ha_cluster setting. Autohealing is enabled by default for HA clusters.
      Database automated backup is enabled by default in order to prevent data
      loss.
  - name: Read replicas
    description: >
      A read replica is a live copy of the main database instance only available
      for reading. Read replica allows you to scale your database instance for
      read-heavy database workloads. Read replicas can also be used for Business
      Intelligence workloads. Listing of read replicas is available in the
      instance response object.

      A read replica can have at most one direct access and one private network
      endpoint. Loadbalancer endpoint is not available on read replica even if
      this resource is displayed in the read replica response example.

      If you want to remove a read replica endpoint, you can use the instance
      delete endpoint API call.

      Instance Access Control List (ACL) also applies on read replica direct
      access endpoint. Don't forget to set it to improve the security of your
      read replica nodes.

      Be aware that there can be replication lags between the primary node and
      its read replica nodes. You can try to reduce this lag with some good
      practices:

      * All your tables should have a primary key

      * Don't run large transactions that modify, delete or insert lots of rows.
      Try to split it into several small transactions.
  - name: ACL
    description: >
      Network Access Control List allows to control network in and out traffic
      by setting up ACL rules.
  - name: Instance Settings
    description: >
      Instance Settings are tunables of Database Engines. Available settings
      depend on the database engine and its version.
  - name: Privileges
    description: |
      Define some privileges to a user on a specific database.
  - name: Databases
    description: |
      Manage logical databases on your instance
  - name: NodeTypes
    description: |
      Node types powering your instance
  - name: Endpoints
    description: |
      Create and manage database instance endpoints
  - name: Namespaces
    description: >
      A namespace is for images what a folder is for files


      To use our services, the first step is to create a namespace.


      A namespace is for images what a folder is for files. Every push or pull
      must mention the namespace :

      ```docker pull
      rg.nl-ams.scw.cloud/<namespace_name>/<image_name>:<tag_name>```


      Note that a namespace name is unique on a region. Thus, if another client
      already has created "test", you can't have it as a namespace


      A namespace can be either public or private (default), which determines
      who can pull images.
  - name: Tags
    description: |
      A tag represents a container tag of an image.
  - name: Private Networks
    description: |
      A private network allows interconnecting your instances in an
      isolated and private network. The network reachability is limited
      to the instances that are on the same private network.  Network
      Interface Controllers (NICs) are available on the instance and can
      be freely managed (adding IP addresses, shutdown interface...)

      Note that an instance can be a part of multiple private networks.
paths:
  /account/v2/projects:
    get:
      tags:
        - Projects
      operationId: ListProjects
      summary: List projects
      parameters:
        - in: query
          name: organization_id
          description: The organization ID of the project (UUID format)
          schema:
            type: string
            description: The organization ID of the project (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
        - in: query
          name: name
          description: The name of the project
          schema:
            type: string
            description: The name of the project
            nullable: true
        - in: query
          name: page
          description: The page number for the returned projects
          schema:
            type: integer
            description: The page number for the returned projects
            default: 1
        - in: query
          name: page_size
          description: The maximum number of project per page
          schema:
            type: integer
            description: The maximum number of project per page
            default: 20
        - in: query
          name: order_by
          description: The sort order of the returned projects
          schema:
            type: string
            description: The sort order of the returned projects
            enum:
              - created_at_asc
              - created_at_desc
              - name_asc
              - name_desc
            default: created_at_asc
        - in: query
          name: project_ids
          description: Filter out by a list of project ID
          schema:
            type: array
            description: Filter out by a list of project ID
            items:
              type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.account.v2.ListProjectsResponse'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/account/v2/projects?organization_id=6170692e-7363-616c-6577-61792e636f6d&project_ids=[string]"
        - lang: HTTPie
          source: |-
            http GET "https://api.scaleway.com/account/v2/projects" \
              X-Auth-Token:$SCW_SECRET_KEY \
              organization_id==6170692e-7363-616c-6577-61792e636f6d \
              project_ids==[string]
    post:
      tags:
        - Projects
      operationId: CreateProject
      summary: Create project
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.account.v2.Project'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the project
                organization_id:
                  type: string
                  description: The organization ID of the project (UUID format)
                  example: 6170692e-7363-616c-6577-61792e636f6d
                description:
                  type: string
                  description: The description of the project
                  nullable: true
              x-properties-order:
                - name
                - organization_id
                - description
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{"name":"string","organization_id":"6170692e-7363-616c-6577-61792e636f6d"}' \
              "https://api.scaleway.com/account/v2/projects"
        - lang: HTTPie
          source: |-
            http POST "https://api.scaleway.com/account/v2/projects" \
              X-Auth-Token:$SCW_SECRET_KEY \
              name="string" \
              organization_id="6170692e-7363-616c-6577-61792e636f6d"
  '/account/v2/projects/{project_id}':
    get:
      tags:
        - Projects
      operationId: GetProject
      summary: Get project
      parameters:
        - in: path
          name: project_id
          description: The project ID of the project (UUID format)
          required: true
          schema:
            type: string
            description: The project ID of the project (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.account.v2.Project'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/account/v2/projects/{project_id}"
        - lang: HTTPie
          source: >-
            http GET "https://api.scaleway.com/account/v2/projects/{project_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
    patch:
      tags:
        - Projects
      operationId: UpdateProject
      summary: Update project
      parameters:
        - in: path
          name: project_id
          description: The project ID of the project (UUID format)
          required: true
          schema:
            type: string
            description: The project ID of the project (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.account.v2.Project'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: The name of the project
                  nullable: true
                description:
                  type: string
                  description: The description of the project
                  nullable: true
              x-properties-order:
                - name
                - description
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/account/v2/projects/{project_id}"
        - lang: HTTPie
          source: >-
            http PATCH
            "https://api.scaleway.com/account/v2/projects/{project_id}" \
              X-Auth-Token:$SCW_SECRET_KEY
    delete:
      tags:
        - Projects
      operationId: DeleteProject
      summary: Delete project
      parameters:
        - in: path
          name: project_id
          description: The project ID of the project (UUID format)
          required: true
          schema:
            type: string
            description: The project ID of the project (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '204':
          description: ''
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/account/v2/projects/{project_id}"
        - lang: HTTPie
          source: >-
            http DELETE
            "https://api.scaleway.com/account/v2/projects/{project_id}" \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/offers':
    get:
      tags:
        - Offers
      operationId: ListOffers
      summary: List offers
      description: List all available server offers.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: query
          name: page
          description: Page number
          schema:
            type: integer
            description: Page number
            default: 1
        - in: query
          name: page_size
          description: Number of offers per page
          schema:
            type: integer
            description: Number of offers per page
            default: 20
        - in: query
          name: subscription_period
          description: Period of subscription to filter offers
          schema:
            type: string
            description: Period of subscription to filter offers
            enum:
              - unknown_subscription_period
              - hourly
              - monthly
            default: unknown_subscription_period
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.ListOffersResponse'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/offers"
        - lang: HTTPie
          source: >-
            http GET "https://api.scaleway.com/baremetal/v1/zones/{zone}/offers"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/offers/{offer_id}':
    get:
      tags:
        - Offers
      operationId: GetOffer
      summary: Get offer
      description: Return specific offer for the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: offer_id
          description: ID of the researched Offer
          required: true
          schema:
            type: string
            description: ID of the researched Offer
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Offer'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/offers/{offer_id}"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/offers/{offer_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/options':
    get:
      tags:
        - Options
      operationId: ListOptions
      summary: List options
      description: List all options matching with filters.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: query
          name: page
          description: Page number
          schema:
            type: integer
            description: Page number
            default: 1
        - in: query
          name: page_size
          description: Number of options per page
          schema:
            type: integer
            description: Number of options per page
            default: 20
        - in: query
          name: offer_id
          description: Filter options by offer_id
          schema:
            type: string
            description: Filter options by offer_id
            nullable: true
        - in: query
          name: name
          description: Filter options by name
          schema:
            type: string
            description: Filter options by name
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.ListOptionsResponse'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/options"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/options" \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/options/{option_id}':
    get:
      tags:
        - Options
      operationId: GetOption
      summary: Get option
      description: Return specific option for the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: option_id
          description: ID of the option
          required: true
          schema:
            type: string
            description: ID of the option
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Option'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/options/{option_id}"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/options/{option_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/os':
    get:
      tags:
        - OS
      operationId: ListOS
      summary: List all available OS that can be install on an elastic metal server
      description: List all available OS that can be install on an elastic metal server.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: query
          name: page
          description: Page number
          schema:
            type: integer
            description: Page number
            default: 1
        - in: query
          name: page_size
          description: Number of OS per page
          schema:
            type: integer
            description: Number of OS per page
            default: 20
        - in: query
          name: offer_id
          description: Filter OS by offer ID
          schema:
            type: string
            description: Filter OS by offer ID
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.ListOSResponse'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/os"
        - lang: HTTPie
          source: |-
            http GET "https://api.scaleway.com/baremetal/v1/zones/{zone}/os" \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/os/{os_id}':
    get:
      tags:
        - OS
      operationId: GetOS
      summary: Get an OS with a given ID
      description: Return specific OS for the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: os_id
          description: ID of the OS
          required: true
          schema:
            type: string
            description: ID of the OS
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.OS'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/os/{os_id}"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/os/{os_id}" \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers':
    get:
      tags:
        - Servers
      operationId: ListServers
      summary: List elastic metal servers for organization
      description: List elastic metal servers for organization.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: query
          name: page
          description: Page number
          schema:
            type: integer
            description: Page number
            default: 1
        - in: query
          name: page_size
          description: Number of server per page
          schema:
            type: integer
            description: Number of server per page
            default: 20
        - in: query
          name: order_by
          description: Order of the servers
          schema:
            type: string
            description: Order of the servers
            enum:
              - created_at_asc
              - created_at_desc
            default: created_at_asc
        - in: query
          name: tags
          description: Filter by tags
          schema:
            type: array
            description: Filter by tags
            items:
              type: string
        - in: query
          name: status
          description: Filter by status
          schema:
            type: array
            description: Filter by status
            items:
              type: string
        - in: query
          name: name
          description: Filter by name
          schema:
            type: string
            description: Filter by name
            nullable: true
        - in: query
          name: organization_id
          description: Filter by organization ID
          schema:
            type: string
            description: Filter by organization ID
            nullable: true
        - in: query
          name: project_id
          description: Filter by project ID
          schema:
            type: string
            description: Filter by project ID
            nullable: true
        - in: query
          name: option_id
          description: Filter by option ID
          schema:
            type: string
            description: Filter by option ID
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.ListServersResponse'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers?status=[string]&tags=[string]"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers" \
              X-Auth-Token:$SCW_SECRET_KEY \
              status==[string] \
              tags==[string]
    post:
      tags:
        - Servers
      operationId: CreateServer
      summary: Create an elastic metal server
      description: >-
        Create a new elastic metal server. Once the server is created, you
        probably want to install an OS.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                offer_id:
                  type: string
                  description: Offer ID of the new server
                organization_id:
                  type: string
                  description: Organization ID with which the server will be created
                  deprecated: true
                  x-one-of: ProjectIdentifier
                project_id:
                  type: string
                  description: Project ID with which the server will be created
                  x-one-of: ProjectIdentifier
                name:
                  type: string
                  description: Name of the server (≠hostname)
                description:
                  type: string
                  description: 'Description associated to the server, max 255 characters'
                tags:
                  type: array
                  description: Tags to associate to the server
                  items:
                    type: string
                install:
                  type: object
                  description: Configuration of installation
                  properties:
                    os_id:
                      type: string
                      description: ID of the OS to install on the server
                    hostname:
                      type: string
                      description: Hostname of the server
                    ssh_key_ids:
                      type: array
                      description: SSH key IDs authorized on the server
                      items:
                        type: string
                    user:
                      type: string
                      description: User used for the installation
                      nullable: true
                    password:
                      type: string
                      description: Password used for the installation
                      nullable: true
                    service_user:
                      type: string
                      description: User used for the service to install
                      nullable: true
                    service_password:
                      type: string
                      description: Password used for the service to install
                      nullable: true
                  x-properties-order:
                    - os_id
                    - hostname
                    - ssh_key_ids
                    - user
                    - password
                    - service_user
                    - service_password
                option_ids:
                  type: array
                  description: IDs of options to enable on server
                  items:
                    type: string
              required:
                - offer_id
                - name
                - description
              x-properties-order:
                - offer_id
                - organization_id
                - project_id
                - name
                - description
                - tags
                - install
                - option_ids
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "description": "string",
                "install": {
                    "hostname": "string",
                    "os_id": "string",
                    "password": "string",
                    "service_password": "string",
                    "service_user": "string",
                    "ssh_key_ids": [
                        "string"
                    ],
                    "user": "string"
                },
                "name": "string",
                "offer_id": "string",
                "option_ids": [
                    "string"
                ],
                "tags": [
                    "string"
                ]
              }' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers" \
              X-Auth-Token:$SCW_SECRET_KEY \
              description="string" \
              install:='{
                "hostname": "string",
                "os_id": "string",
                "password": "string",
                "service_password": "string",
                "service_user": "string",
                "ssh_key_ids": [
                    "string"
                ],
                "user": "string"
              }' \
              name="string" \
              offer_id="string" \
              option_ids:='[
                "string"
              ]' \
              tags:='[
                "string"
              ]'
  '/baremetal/v1/zones/{zone}/servers/{server_id}':
    get:
      tags:
        - Servers
      operationId: GetServer
      summary: Get a specific elastic metal server
      description: Get the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
    patch:
      tags:
        - Servers
      operationId: UpdateServer
      summary: Update an elastic metal server
      description: Update the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server to update
          required: true
          schema:
            type: string
            description: ID of the server to update
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Name of the server (≠hostname), not updated if null'
                  nullable: true
                description:
                  type: string
                  description: >-
                    Description associated to the server, max 255 characters,
                    not updated if null
                  nullable: true
                tags:
                  type: array
                  description: 'Tags associated to the server, not updated if null'
                  nullable: true
                  items:
                    type: string
              x-properties-order:
                - name
                - description
                - tags
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}"
        - lang: HTTPie
          source: >-
            http PATCH
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
    delete:
      tags:
        - Servers
      operationId: DeleteServer
      summary: Delete an elastic metal server
      description: Delete the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server to delete
          required: true
          schema:
            type: string
            description: ID of the server to delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}"
        - lang: HTTPie
          source: >-
            http DELETE
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access':
    get:
      tags:
        - BMC access
      operationId: GetBMCAccess
      summary: >-
        Get BMC (Baseboard Management Controller) access for a given elastic
        metal server
      description: >-
        Get the BMC (Baseboard Management Controller) access associated with the
        given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.BMCAccess'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access"
            \
              X-Auth-Token:$SCW_SECRET_KEY
    post:
      tags:
        - BMC access
      operationId: StartBMCAccess
      summary: >-
        Start BMC (Baseboard Management Controller) access for a given elastic
        metal server
      description: >
        Start BMC (Baseboard Management Controller) access associated with the
        given ID.

        The BMC (Baseboard Management Controller) access is available one hour
        after the installation of the server.

        You need first to create an option Remote Access. You will find the ID
        and the price with a call to listOffers
        (https://developers.scaleway.com/en/products/baremetal/api/#get-78db92).
        Then you can add the option
        https://developers.scaleway.com/en/products/baremetal/api/#post-b14abd.
        Do not forget to delete the Option.
         After start BMC, you need to Get Remote Access to get the login/password https://developers.scaleway.com/en/products/baremetal/api/#get-cefc0f.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.BMCAccess'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ip:
                  type: string
                  description: >-
                    The IP authorized to connect to the given server (IPv4
                    address)
                  example: 1.2.3.4
              required:
                - ip
              x-properties-order:
                - ip
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{"ip":"1.2.3.4"}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access"
            \
              X-Auth-Token:$SCW_SECRET_KEY \
              ip="1.2.3.4"
    delete:
      tags:
        - BMC access
      operationId: StopBMCAccess
      summary: >-
        Stop BMC (Baseboard Management Controller) access for a given elastic
        metal server
      description: >-
        Stop BMC (Baseboard Management Controller) access associated with the
        given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
      responses:
        '204':
          description: ''
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access"
        - lang: HTTPie
          source: >-
            http DELETE
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/bmc-access"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/events':
    get:
      tags:
        - Servers
      operationId: ListServerEvents
      summary: List server events
      description: List events associated to the given server ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server events searched
          required: true
          schema:
            type: string
            description: ID of the server events searched
        - in: query
          name: page
          description: Page number
          schema:
            type: integer
            description: Page number
            default: 1
        - in: query
          name: page_size
          description: Number of server events per page
          schema:
            type: integer
            description: Number of server events per page
            default: 20
        - in: query
          name: order_by
          description: Order of the server events
          schema:
            type: string
            description: Order of the server events
            enum:
              - created_at_asc
              - created_at_desc
            default: created_at_asc
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.baremetal.v1.ListServerEventsResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/events"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/events"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/install':
    post:
      tags:
        - Servers
      operationId: InstallServer
      summary: Install an elastic metal server
      description: Install an OS on the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: Server ID to install
          required: true
          schema:
            type: string
            description: Server ID to install
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                os_id:
                  type: string
                  description: ID of the OS to install on the server
                hostname:
                  type: string
                  description: Hostname of the server
                ssh_key_ids:
                  type: array
                  description: SSH key IDs authorized on the server
                  items:
                    type: string
                user:
                  type: string
                  description: User used for the installation
                  nullable: true
                password:
                  type: string
                  description: Password used for the installation
                  nullable: true
                service_user:
                  type: string
                  description: User used for the service to install
                  nullable: true
                service_password:
                  type: string
                  description: Password used for the service to install
                  nullable: true
              required:
                - os_id
                - hostname
                - ssh_key_ids
              x-properties-order:
                - os_id
                - hostname
                - ssh_key_ids
                - user
                - password
                - service_user
                - service_password
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "hostname": "string",
                "os_id": "string",
                "ssh_key_ids": [
                    "string"
                ]
              }' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/install"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/install"
            \
              X-Auth-Token:$SCW_SECRET_KEY \
              hostname="string" \
              os_id="string" \
              ssh_key_ids:='[
                "string"
              ]'
  '/baremetal/v1/zones/{zone}/servers/{server_id}/ips/{ip_id}':
    patch:
      tags:
        - Servers
      operationId: UpdateIP
      summary: Update IP
      description: >-
        Configure ip associated with the given server ID and ipID. You can use
        this method to set a reverse dns for an IP.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
        - in: path
          name: ip_id
          description: ID of the IP to update
          required: true
          schema:
            type: string
            description: ID of the IP to update
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.IP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reverse:
                  type: string
                  description: 'New reverse IP to update, not updated if null'
                  nullable: true
              x-properties-order:
                - reverse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/ips/{ip_id}"
        - lang: HTTPie
          source: >-
            http PATCH
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/ips/{ip_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/metrics':
    get:
      tags:
        - Servers
      operationId: GetServerMetrics
      summary: Return server metrics
      description: Give the ping status on the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: Server ID to get the metrics
          required: true
          schema:
            type: string
            description: Server ID to get the metrics
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.baremetal.v1.GetServerMetricsResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/metrics"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/metrics"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/options/{option_id}':
    post:
      tags:
        - Servers
      operationId: AddOptionServer
      summary: Add server option
      description: Add an option to a specific server.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
        - in: path
          name: option_id
          description: ID of the option to add
          required: true
          schema:
            type: string
            description: ID of the option to add
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                expires_at:
                  type: string
                  description: Auto expire the option after this date (RFC 3339 format)
                  format: date-time
                  example: '2022-03-22T12:34:56.123456Z'
                  nullable: true
              x-properties-order:
                - expires_at
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/options/{option_id}"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/options/{option_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
    delete:
      tags:
        - Servers
      operationId: DeleteOptionServer
      summary: Delete server option
      description: Delete an option from a specific server.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server
          required: true
          schema:
            type: string
            description: ID of the server
        - in: path
          name: option_id
          description: ID of the option to delete
          required: true
          schema:
            type: string
            description: ID of the option to delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/options/{option_id}"
        - lang: HTTPie
          source: >-
            http DELETE
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/options/{option_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/reboot':
    post:
      tags:
        - Server Actions
      operationId: RebootServer
      summary: Reboot an elastic metal server
      description: >-
        Reboot the server associated with the given ID, use boot param to reboot
        in rescue.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server to reboot
          required: true
          schema:
            type: string
            description: ID of the server to reboot
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                boot_type:
                  type: string
                  description: The type of boot
                  enum:
                    - unknown_boot_type
                    - normal
                    - rescue
                  default: unknown_boot_type
              x-properties-order:
                - boot_type
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/reboot"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/reboot"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/start':
    post:
      tags:
        - Server Actions
      operationId: StartServer
      summary: Start an elastic metal server
      description: Start the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server to start
          required: true
          schema:
            type: string
            description: ID of the server to start
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                boot_type:
                  type: string
                  description: The type of boot
                  enum:
                    - unknown_boot_type
                    - normal
                    - rescue
                  default: unknown_boot_type
              x-properties-order:
                - boot_type
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/start"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/start"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/servers/{server_id}/stop':
    post:
      tags:
        - Server Actions
      operationId: StopServer
      summary: Stop an elastic metal server
      description: Stop the server associated with the given ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: server_id
          description: ID of the server to stop
          required: true
          schema:
            type: string
            description: ID of the server to stop
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Server'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/stop"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/servers/{server_id}/stop"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/baremetal/v1/zones/{zone}/settings':
    get:
      tags:
        - Options
      operationId: ListSettings
      summary: List all settings
      description: Return all settings for a project ID.
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: query
          name: page
          description: Page number
          schema:
            type: integer
            description: Page number
            default: 1
        - in: query
          name: page_size
          description: Set the maximum list size
          schema:
            type: integer
            description: Set the maximum list size
            default: 20
        - in: query
          name: order_by
          description: Order the response
          schema:
            type: string
            description: Order the response
            enum:
              - created_at_asc
              - created_at_desc
            default: created_at_asc
        - in: query
          name: project_id
          description: ID of the project (UUID format)
          required: true
          schema:
            type: string
            description: ID of the project (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.baremetal.v1.ListSettingsResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/settings?project_id=6170692e-7363-616c-6577-61792e636f6d"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/settings" \
              X-Auth-Token:$SCW_SECRET_KEY \
              project_id==6170692e-7363-616c-6577-61792e636f6d
  '/baremetal/v1/zones/{zone}/settings/{setting_id}':
    patch:
      tags:
        - Options
      operationId: UpdateSetting
      summary: Update setting
      description: Update a setting for a project ID (enable or disable).
      parameters:
        - in: path
          name: zone
          description: The zone you want to target
          required: true
          schema:
            type: string
            description: The zone you want to target
            enum:
              - fr-par-1
              - fr-par-2
              - nl-ams-1
        - in: path
          name: setting_id
          description: ID of the setting
          required: true
          schema:
            type: string
            description: ID of the setting
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.baremetal.v1.Setting'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                enabled:
                  type: boolean
                  description: Enable/Disable the setting
                  nullable: true
              x-properties-order:
                - enabled
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/baremetal/v1/zones/{zone}/settings/{setting_id}"
        - lang: HTTPie
          source: >-
            http PATCH
            "https://api.scaleway.com/baremetal/v1/zones/{zone}/settings/{setting_id}"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  /billing/v2alpha1/consumption:
    get:
      tags:
        - Consumption
      operationId: GetConsumption
      summary: Consumption over the current month
      description: >
        The consumption represents the amount of money you have spent for the
        products you have consumed.

        The value is not computed in real time.

        The value of the consumption is a monetary value.
      parameters:
        - in: query
          name: organization_id
          description: Filter by organization ID (UUID format)
          schema:
            type: string
            description: Filter by organization ID (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.billing.v2alpha1.GetConsumptionResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/billing/v2alpha1/consumption?organization_id=6170692e-7363-616c-6577-61792e636f6d"
        - lang: HTTPie
          source: |-
            http GET "https://api.scaleway.com/billing/v2alpha1/consumption" \
              X-Auth-Token:$SCW_SECRET_KEY \
              organization_id==6170692e-7363-616c-6577-61792e636f6d
  /billing/v2alpha1/invoices:
    get:
      tags:
        - Invoices
      operationId: ListInvoices
      summary: List invoices
      description: List all your invoices filtering by start_date and invoice_type
      parameters:
        - in: query
          name: organization_id
          description: Filter invoices by organization ID (UUID format)
          schema:
            type: string
            description: Filter invoices by organization ID (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
            nullable: true
        - in: query
          name: started_after
          description: >-
            Filter invoices where invoice's start_date is greater or equal to
            started_after (RFC 3339 format)
          schema:
            type: string
            description: >-
              Filter invoices where invoice's start_date is greater or equal to
              started_after (RFC 3339 format)
            format: date-time
            example: '2022-03-22T12:34:56.123456Z'
            nullable: true
        - in: query
          name: started_before
          description: >-
            Filter invoices where invoice's start_date is before started_before
            (RFC 3339 format)
          schema:
            type: string
            description: >-
              Filter invoices where invoice's start_date is before
              started_before (RFC 3339 format)
            format: date-time
            example: '2022-03-22T12:34:56.123456Z'
            nullable: true
        - in: query
          name: invoice_type
          description: 'Type of the invoice, it can be ''periodic'' or ''purchase'''
          schema:
            type: string
            description: 'Type of the invoice, it can be ''periodic'' or ''purchase'''
            enum:
              - unknown_type
              - periodic
              - purchase
            default: unknown_type
        - in: query
          name: page
          description: A positive integer to choose the page to return
          schema:
            type: integer
            description: A positive integer to choose the page to return
            default: 1
        - in: query
          name: page_size
          description: >-
            A positive integer lower or equal to 100 to select the number of
            items to return
          schema:
            type: integer
            description: >-
              A positive integer lower or equal to 100 to select the number of
              items to return
            default: '20'
        - in: query
          name: order_by
          description: How invoices are ordered in the response
          schema:
            type: string
            description: How invoices are ordered in the response
            enum:
              - invoice_number_desc
              - invoice_number_asc
              - start_date_desc
              - start_date_asc
              - issued_date_desc
              - issued_date_asc
              - due_date_desc
              - due_date_asc
              - total_untaxed_desc
              - total_untaxed_asc
              - total_taxed_desc
              - total_taxed_asc
              - invoice_type_desc
              - invoice_type_asc
            default: invoice_number_desc
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.billing.v2alpha1.ListInvoicesResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/billing/v2alpha1/invoices"
        - lang: HTTPie
          source: |-
            http GET "https://api.scaleway.com/billing/v2alpha1/invoices" \
              X-Auth-Token:$SCW_SECRET_KEY
  '/billing/v2alpha1/invoices/{invoice_id}/download':
    get:
      tags:
        - Invoices
      operationId: DownloadInvoice
      summary: Download invoice based on his number
      parameters:
        - in: path
          name: invoice_id
          description: Invoice ID (UUID format)
          required: true
          schema:
            type: string
            description: Invoice ID (UUID format)
            example: 6170692e-7363-616c-6577-61792e636f6d
        - in: query
          name: file_type
          description: Wanted file type
          schema:
            type: string
            description: Wanted file type
            enum:
              - pdf
            default: pdf
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.std.File'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/billing/v2alpha1/invoices/{invoice_id}/download"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/billing/v2alpha1/invoices/{invoice_id}/download"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  /domain/v2beta1/dns-zones:
    get:
      tags:
        - DNS Zones
      operationId: ListDNSZones
      summary: List DNS zones
      description: |
        Returns a list of manageable DNS zones.
        You can filter the DNS zones by domain name.
      parameters:
        - in: query
          name: organization_id
          description: The organization ID on which to filter the returned DNS zones
          schema:
            type: string
            description: The organization ID on which to filter the returned DNS zones
            nullable: true
        - in: query
          name: project_id
          description: The project ID on which to filter the returned DNS zones
          schema:
            type: string
            description: The project ID on which to filter the returned DNS zones
            nullable: true
        - in: query
          name: order_by
          description: The sort order of the returned DNS zones
          schema:
            type: string
            description: The sort order of the returned DNS zones
            enum:
              - domain_asc
              - domain_desc
              - subdomain_asc
              - subdomain_desc
            default: domain_asc
        - in: query
          name: page
          description: The page number for the returned DNS zones
          schema:
            type: integer
            description: The page number for the returned DNS zones
            default: 1
        - in: query
          name: page_size
          description: The maximum number of DNS zones per page
          schema:
            type: integer
            description: The maximum number of DNS zones per page
            default: 20
        - in: query
          name: domain
          description: The domain on which to filter the returned DNS zones
          schema:
            type: string
            description: The domain on which to filter the returned DNS zones
        - in: query
          name: dns_zone
          description: The DNS zone on which to filter the returned DNS zones
          schema:
            type: string
            description: The DNS zone on which to filter the returned DNS zones
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.domain.v2beta1.ListDNSZonesResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/domain/v2beta1/dns-zones?dns_zone=string&domain=string"
        - lang: HTTPie
          source: |-
            http GET "https://api.scaleway.com/domain/v2beta1/dns-zones" \
              X-Auth-Token:$SCW_SECRET_KEY \
              dns_zone==string \
              domain==string
    post:
      tags:
        - DNS Zones
      operationId: CreateDNSZone
      summary: Create a DNS zone
      description: Create a new DNS zone.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.domain.v2beta1.DNSZone'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  description: The domain of the DNS zone to create
                subdomain:
                  type: string
                  description: The subdomain of the DNS zone to create
                project_id:
                  type: string
                  description: The project ID where the DNS zone will be created
              required:
                - domain
                - subdomain
                - project_id
              x-properties-order:
                - domain
                - subdomain
                - project_id
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "domain": "string",
                "project_id": "string",
                "subdomain": "string"
              }' \
              "https://api.scaleway.com/domain/v2beta1/dns-zones"
        - lang: HTTPie
          source: |-
            http POST "https://api.scaleway.com/domain/v2beta1/dns-zones" \
              X-Auth-Token:$SCW_SECRET_KEY \
              domain="string" \
              project_id="string" \
              subdomain="string"
  '/domain/v2beta1/dns-zones/{dns_zone}':
    patch:
      tags:
        - DNS Zones
      operationId: UpdateDNSZone
      summary: Update a DNS zone
      description: Update the name and/or the organizations for a DNS zone.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone to update
          required: true
          schema:
            type: string
            description: The DNS zone to update
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.domain.v2beta1.DNSZone'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                new_dns_zone:
                  type: string
                  description: The new DNS zone
                  nullable: true
                project_id:
                  type: string
                  description: The project ID of the new DNS zone
              required:
                - new_dns_zone
                - project_id
              x-properties-order:
                - new_dns_zone
                - project_id
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PATCH \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{"new_dns_zone":"string","project_id":"string"}' \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}"
        - lang: HTTPie
          source: >-
            http PATCH
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}" \
              X-Auth-Token:$SCW_SECRET_KEY \
              new_dns_zone="string" \
              project_id="string"
    delete:
      tags:
        - DNS Zones
      operationId: DeleteDNSZone
      summary: Delete DNS zone
      description: Delete a DNS zone and all it's records.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone to delete
          required: true
          schema:
            type: string
            description: The DNS zone to delete
        - in: query
          name: project_id
          description: The project ID of the DNS zone to delete
          required: true
          schema:
            type: string
            description: The project ID of the DNS zone to delete
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.domain.v2beta1.DeleteDNSZoneResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X DELETE \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}?project_id=string"
        - lang: HTTPie
          source: >-
            http DELETE
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}" \
              X-Auth-Token:$SCW_SECRET_KEY \
              project_id==string
  '/domain/v2beta1/dns-zones/{dns_zone}/clone':
    post:
      tags:
        - DNS Zones
      operationId: CloneDNSZone
      summary: Clone a DNS zone
      description: Clone an existed DNS zone with all its records into a new one.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone to clone
          required: true
          schema:
            type: string
            description: The DNS zone to clone
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.domain.v2beta1.DNSZone'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dest_dns_zone:
                  type: string
                  description: The destinaton DNS zone
                overwrite:
                  type: boolean
                  description: Whether or not the destination DNS zone will be overwritten
                project_id:
                  type: string
                  description: The project ID of the destination DNS zone
                  nullable: true
              required:
                - dest_dns_zone
              x-properties-order:
                - dest_dns_zone
                - overwrite
                - project_id
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{"dest_dns_zone":"string","overwrite":false}' \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/clone"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/clone"
            \
              X-Auth-Token:$SCW_SECRET_KEY \
              dest_dns_zone="string" \
              overwrite:=false
  '/domain/v2beta1/dns-zones/{dns_zone}/import-provider':
    post:
      tags:
        - Imports / Exports
      operationId: ImportProviderDNSZone
      summary: Import provider DNS zone
      description: Import and replace records from a given provider format with default NS.
      parameters:
        - in: path
          name: dns_zone
          required: true
          schema:
            type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.domain.v2beta1.ImportProviderDNSZoneResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                online_v1:
                  type: object
                  properties:
                    token:
                      type: string
                  x-properties-order:
                    - token
                  x-one-of: provider
              x-properties-order:
                - online_v1
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X POST \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{}' \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/import-provider"
        - lang: HTTPie
          source: >-
            http POST
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/import-provider"
            \
              X-Auth-Token:$SCW_SECRET_KEY
  '/domain/v2beta1/dns-zones/{dns_zone}/nameservers':
    get:
      tags:
        - Records
      operationId: ListDNSZoneNameservers
      summary: List DNS zone nameservers
      description: >-
        Returns a list of Nameservers and their optional glue records for a DNS
        zone.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone on which to filter the returned DNS zone nameservers
          required: true
          schema:
            type: string
            description: The DNS zone on which to filter the returned DNS zone nameservers
        - in: query
          name: project_id
          description: The project ID on which to filter the returned DNS zone nameservers
          schema:
            type: string
            description: >-
              The project ID on which to filter the returned DNS zone
              nameservers
            nullable: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.domain.v2beta1.ListDNSZoneNameserversResponse
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/nameservers"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/nameservers"
            \
              X-Auth-Token:$SCW_SECRET_KEY
    put:
      tags:
        - Records
      operationId: UpdateDNSZoneNameservers
      summary: Update DNS zone nameservers
      description: Update DNS zone nameservers and set optional glue records.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone where the DNS zone nameservers will be updated
          required: true
          schema:
            type: string
            description: The DNS zone where the DNS zone nameservers will be updated
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.domain.v2beta1.UpdateDNSZoneNameserversResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ns:
                  type: array
                  description: The new DNS zone nameservers
                  items:
                    $ref: '#/components/schemas/scaleway.domain.v2beta1.Nameserver'
              required:
                - ns
              x-properties-order:
                - ns
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X PUT \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              -H "Content-Type: application/json" \
              -d '{"ns":[""]}' \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/nameservers"
        - lang: HTTPie
          source: >-
            http PUT
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/nameservers"
            \
              X-Auth-Token:$SCW_SECRET_KEY \
              ns:='[""]'
  '/domain/v2beta1/dns-zones/{dns_zone}/raw':
    get:
      tags:
        - Imports / Exports
      operationId: ExportRawDNSZone
      summary: Export raw DNS zone
      description: Get a DNS zone in a given format with default NS.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone to export
          required: true
          schema:
            type: string
            description: The DNS zone to export
        - in: query
          name: format
          description: Format for DNS zone
          schema:
            type: string
            description: Format for DNS zone
            enum:
              - unknown_raw_format
              - bind
            default: bind
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.std.File'
      security:
        - scaleway: []
      x-codeSamples:
        - lang: cURL
          source: |-
            curl -X GET \
              -H "X-Auth-Token: $SCW_SECRET_KEY" \
              "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/raw"
        - lang: HTTPie
          source: >-
            http GET
            "https://api.scaleway.com/domain/v2beta1/dns-zones/{dns_zone}/raw" \
              X-Auth-Token:$SCW_SECRET_KEY
    post:
      tags:
        - Imports / Exports
      operationId: ImportRawDNSZone
      summary: Import raw DNS zone
      description: Import and replace records from a given provider format with default NS.
      parameters:
        - in: path
          name: dns_zone
          description: The DNS zone to import
          required: true
          schema:
            type: string
            description: The DNS zone to import
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/scaleway.domain.v2beta1.ImportRawDNSZoneResponse
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                content:
[...]
