openapi: 3.0.0
info:
  title: Flexible IP API
  description: |
    # Introduction

    Flexible IP (formerly IP Failover) allows you to manage IP (v4 or v6) addresses on your bare metal server.
    Flexible IP can be attached to any server in the same zone.
    A server can be linked to multiple Flexible IPs.

    Flexible IPs can be used to implement failover for services running on several baremetal server, assigning IPs to Virtual Machines running on a baremetal server

    ## Technical Limitations

    - Flexible IPs can be only used on a bare metal server
    - 64 Flexible IPs limit per server

    ## Features

    A virtual MAC address can be generated on a Flexible IP for specifics needs:

    - KVM
    - VMWare
    - Xen

    Virtual MAC address can be duplicated between Flexible IPs on the same server.
    When a Virtual MAC is duplicated onto another Flexible IP, they belong to a Virtual MAC group.
    Flexible IPs in a MAC group can not be moved to another server separately, they have to be moved together.
    You can do so by providing a list of Flexible IP IDs in Attach/Detach Requests.
    Note that if you detach a single Flexible IP from a MAC group, the MAC is removed from the detached Flexible IP.
  version: v1alpha1
servers:
- url: https://api.scaleway.com
tags:
- name: Flexible IP
  description: |
    A Flexible IP can be attached to any server in the same zone.
    A server can be linked with multiple Flexible IPs attached to it.
components:
  schemas:
    scaleway.flexible_ip.v1alpha1.AttachFlexibleIPsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total count of Flexible IPs being updated
          format: uint32
        flexible_ips:
          type: array
          description: Listing of Flexible IPs in updating state
          items:
            $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      x-properties-order:
      - total_count
      - flexible_ips
    scaleway.flexible_ip.v1alpha1.DetachFlexibleIPsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total count of Flexible IPs being detached
          format: uint32
        flexible_ips:
          type: array
          description: Listing of Flexible IPs in detaching state
          items:
            $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      x-properties-order:
      - total_count
      - flexible_ips
    scaleway.flexible_ip.v1alpha1.FlexibleIP:
      type: object
      properties:
        id:
          type: string
          description: ID of the Flexible IP
        organization_id:
          type: string
          description: Organization ID the Flexible IP is attached to
        project_id:
          type: string
          description: Project ID the Flexible IP is attached to
        description:
          type: string
          description: Description of the Flexible IP
        tags:
          type: array
          description: Tags associated with the Flexible IP
          items:
            type: string
        updated_at:
          type: string
          description: Date of last update of the Flexible IP (RFC 3339 format)
          format: date-time
          example: "2022-03-22T12:34:56.123456Z"
          nullable: true
        created_at:
          type: string
          description: Date of creation of the Flexible IP (RFC 3339 format)
          format: date-time
          example: "2022-03-22T12:34:56.123456Z"
          nullable: true
        status:
          type: string
          description: |
            - ready : Flexible IP is created and ready to be attached to a server or to have a virtual MAC generated.
            - updating: Flexible IP is being attached to a server or a virtual MAC operation is ongoing
            - attached: Flexible IP is attached to a server
            - error: a Flexible IP operation resulted in an error
            - detaching: Flexible IP is being detached from a server
            - locked: Flexible IP resource is locked
          enum:
          - unknown
          - ready
          - updating
          - attached
          - error
          - detaching
          - locked
          default: unknown
        ip_address:
          type: string
          description: IP of the Flexible IP (IP network)
          example: 1.2.3.4/32
        mac_address:
          type: object
          description: MAC address of the Flexible IP
          properties:
            id:
              type: string
              description: ID of the Flexible IP
            mac_address:
              type: string
              description: MAC address of the Virtual MAC
            mac_type:
              type: string
              description: Virtual MAC type
              enum:
              - unknown_type
              - vmware
              - xen
              - kvm
              default: unknown_type
            status:
              type: string
              description: Virtual MAC status
              enum:
              - unknown
              - ready
              - updating
              - used
              - error
              - deleting
              default: unknown
            updated_at:
              type: string
              description: Date of last update of the Virtual MAC (RFC 3339 format)
              format: date-time
              example: "2022-03-22T12:34:56.123456Z"
              nullable: true
            created_at:
              type: string
              description: Date of creation of the Virtual MAC (RFC 3339 format)
              format: date-time
              example: "2022-03-22T12:34:56.123456Z"
              nullable: true
            zone:
              type: string
              description: MAC Addr IP Availability Zone
          x-properties-order:
          - id
          - mac_address
          - mac_type
          - status
          - updated_at
          - created_at
          - zone
        server_id:
          type: string
          description: ID of the server linked to the Flexible IP
          nullable: true
        reverse:
          type: string
          description: Reverse DNS value
        zone:
          type: string
          description: Flexible IP Availability Zone
      x-properties-order:
      - id
      - organization_id
      - project_id
      - description
      - tags
      - updated_at
      - created_at
      - status
      - ip_address
      - mac_address
      - server_id
      - reverse
      - zone
    scaleway.flexible_ip.v1alpha1.FlexibleIP.Status:
      type: string
      enum:
      - unknown
      - ready
      - updating
      - attached
      - error
      - detaching
      - locked
      default: unknown
    scaleway.flexible_ip.v1alpha1.ListFlexibleIPsResponse:
      type: object
      properties:
        total_count:
          type: integer
          description: Total count of matching Flexible IPs
          format: uint32
        flexible_ips:
          type: array
          description: Listing of Flexible IPs
          items:
            $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      x-properties-order:
      - total_count
      - flexible_ips
  securitySchemes:
    scaleway:
      in: header
      name: X-Auth-Token
      type: apiKey
paths:
  /flexible-ip/v1alpha1/zones/{zone}/fips:
    get:
      tags:
      - Flexible IP
      operationId: ListFlexibleIPs
      summary: List Flexible IPs
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: query
        name: order_by
        description: The sort order of the returned Flexible IPs
        schema:
          type: string
          description: The sort order of the returned Flexible IPs
          enum:
          - created_at_asc
          - created_at_desc
          default: created_at_asc
      - in: query
        name: page
        description: The page number for the returned Flexible IPs
        schema:
          type: integer
          description: The page number for the returned Flexible IPs
          default: 1
      - in: query
        name: page_size
        description: The maximum number of Flexible IPs per page
        schema:
          type: integer
          description: The maximum number of Flexible IPs per page
          default: 20
      - in: query
        name: tags
        description: Filter Flexible IPs with one or more matching tags
        schema:
          type: array
          description: Filter Flexible IPs with one or more matching tags
          items:
            type: string
      - in: query
        name: status
        description: Filter Flexible IPs by status
        schema:
          type: array
          description: Filter Flexible IPs by status
          items:
            $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP.Status'
      - in: query
        name: server_ids
        description: Filter Flexible IPs by server IDs
        schema:
          type: array
          description: Filter Flexible IPs by server IDs
          items:
            type: string
      - in: query
        name: organization_id
        description: Filter Flexible IPs by organization ID
        schema:
          type: string
          description: Filter Flexible IPs by organization ID
          nullable: true
      - in: query
        name: project_id
        description: Filter Flexible IPs by project ID
        schema:
          type: string
          description: Filter Flexible IPs by project ID
          nullable: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.ListFlexibleIPsResponse'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips?server_ids=[string]&status=[]&tags=[string]"
      - lang: HTTPie
        source: |-
          http GET "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips" \
            X-Auth-Token:$SCW_SECRET_KEY \
            server_ids==[string] \
            status==[] \
            tags==[string]
    post:
      tags:
      - Flexible IP
      operationId: CreateFlexibleIP
      summary: Create a Flexible IP
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_id:
                  type: string
                  description: ID of the project to associate with the Flexible IP
                description:
                  type: string
                  description: Description to associate with the Flexible IP, max
                    255 characters
                tags:
                  type: array
                  description: Tags to associate to the Flexible IP
                  items:
                    type: string
                server_id:
                  type: string
                  description: Server ID on which to attach the created Flexible IP
                  nullable: true
                reverse:
                  type: string
                  description: Reverse DNS value
                  nullable: true
                is_ipv6:
                  type: boolean
                  description: If true, creates a Flexible IP with an ipv6 address
              required:
              - project_id
              x-properties-order:
              - project_id
              - description
              - tags
              - server_id
              - reverse
              - is_ipv6
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{
              "description": "string",
              "is_ipv6": false,
              "project_id": "string",
              "tags": [
                  "string"
              ]
            }' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips"
      - lang: HTTPie
        source: |-
          http POST "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips" \
            X-Auth-Token:$SCW_SECRET_KEY \
            description="string" \
            is_ipv6:=false \
            project_id="string" \
            tags:='[
              "string"
            ]'
  /flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}:
    get:
      tags:
      - Flexible IP
      operationId: GetFlexibleIP
      summary: Get a Flexible IP
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        description: Flexible IP ID
        required: true
        schema:
          type: string
          description: Flexible IP ID
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X GET \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}"
      - lang: HTTPie
        source: |-
          http GET "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}" \
            X-Auth-Token:$SCW_SECRET_KEY
    patch:
      tags:
      - Flexible IP
      operationId: UpdateFlexibleIP
      summary: Update a Flexible IP
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        description: ID of the Flexible IP to update
        required: true
        schema:
          type: string
          description: ID of the Flexible IP to update
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                description:
                  type: string
                  description: Description to associate with the Flexible IP, max
                    255 characters
                  nullable: true
                tags:
                  type: array
                  description: Tags to associate with the Flexible IP
                  nullable: true
                  items:
                    type: string
                reverse:
                  type: string
                  description: Reverse DNS value
                  nullable: true
              x-properties-order:
              - description
              - tags
              - reverse
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X PATCH \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{}' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}"
      - lang: HTTPie
        source: |-
          http PATCH "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}" \
            X-Auth-Token:$SCW_SECRET_KEY
    delete:
      tags:
      - Flexible IP
      operationId: DeleteFlexibleIP
      summary: Delete a Flexible IP
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        description: ID of the Flexible IP to delete
        required: true
        schema:
          type: string
          description: ID of the Flexible IP to delete
      responses:
        "204":
          description: ""
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}"
      - lang: HTTPie
        source: |-
          http DELETE "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}" \
            X-Auth-Token:$SCW_SECRET_KEY
  /flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac:
    post:
      tags:
      - Flexible IP
      operationId: GenerateMACAddr
      summary: Generate a virtual MAC on a given Flexible IP
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        description: Flexible IP ID on which to generate a Virtual MAC
        required: true
        schema:
          type: string
          description: Flexible IP ID on which to generate a Virtual MAC
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mac_type:
                  type: string
                  description: TODO
                  enum:
                  - unknown_type
                  - vmware
                  - xen
                  - kvm
                  default: unknown_type
              required:
              - mac_type
              x-properties-order:
              - mac_type
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{}' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac"
      - lang: HTTPie
        source: |-
          http POST "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac" \
            X-Auth-Token:$SCW_SECRET_KEY
    delete:
      tags:
      - Flexible IP
      operationId: DeleteMACAddr
      summary: Remove a virtual MAC from a Flexible IP
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        description: If the Flexible IP belongs to a MAC group, the MAC will be removed
          from the MAC group and from the Flexible IP.
        required: true
        schema:
          type: string
          description: If the Flexible IP belongs to a MAC group, the MAC will be
            removed from the MAC group and from the Flexible IP.
      responses:
        "204":
          description: ""
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X DELETE \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac"
      - lang: HTTPie
        source: |-
          http DELETE "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac" \
            X-Auth-Token:$SCW_SECRET_KEY
  /flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac/duplicate:
    post:
      tags:
      - Flexible IP
      operationId: DuplicateMACAddr
      summary: Duplicate a Virtual MAC
      description: Duplicate a Virtual MAC from a given Flexible IP onto another attached
        on the same server.
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        description: Flexible IPs need to be attached to the same server.
        required: true
        schema:
          type: string
          description: Flexible IPs need to be attached to the same server.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                duplicate_from_fip_id:
                  type: string
                  description: Flexible IPs need to be attached to the same server.
              required:
              - duplicate_from_fip_id
              x-properties-order:
              - duplicate_from_fip_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{"duplicate_from_fip_id":"string"}' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac/duplicate"
      - lang: HTTPie
        source: |-
          http POST "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac/duplicate" \
            X-Auth-Token:$SCW_SECRET_KEY \
            duplicate_from_fip_id="string"
  /flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac/move:
    post:
      operationId: MoveMACAddr
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      - in: path
        name: fip_id
        required: true
        schema:
          type: string
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.FlexibleIP'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dst_fip_id:
                  type: string
              x-properties-order:
              - dst_fip_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{"dst_fip_id":"string"}' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac/move"
      - lang: HTTPie
        source: |-
          http POST "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/{fip_id}/mac/move" \
            X-Auth-Token:$SCW_SECRET_KEY \
            dst_fip_id="string"
  /flexible-ip/v1alpha1/zones/{zone}/fips/attach:
    post:
      tags:
      - Flexible IP
      operationId: AttachFlexibleIP
      summary: Attach a Flexible IP to a server
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.AttachFlexibleIPsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fips_ids:
                  type: array
                  description: Multiple IDs can be provided as long as Flexible IPs
                    belong to the same MAC groups (see details about MAC groups).
                  items:
                    type: string
                server_id:
                  type: string
                  description: A server ID on which to attach the Flexible IPs
              required:
              - fips_ids
              - server_id
              x-properties-order:
              - fips_ids
              - server_id
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{"fips_ids":["string"],"server_id":"string"}' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/attach"
      - lang: HTTPie
        source: |-
          http POST "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/attach" \
            X-Auth-Token:$SCW_SECRET_KEY \
            fips_ids:='["string"]' \
            server_id="string"
  /flexible-ip/v1alpha1/zones/{zone}/fips/detach:
    post:
      tags:
      - Flexible IP
      operationId: DetachFlexibleIP
      summary: Detach a Flexible IP from a server
      parameters:
      - in: path
        name: zone
        description: The zone you want to target
        required: true
        schema:
          type: string
          description: The zone you want to target
          enum:
          - fr-par-1
          - fr-par-2
          - nl-ams-1
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scaleway.flexible_ip.v1alpha1.DetachFlexibleIPsResponse'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fips_ids:
                  type: array
                  description: Multiple IDs can be provided as long as Flexible IPs
                    belong to the same MAC groups (see details about MAC groups).
                  items:
                    type: string
              required:
              - fips_ids
              x-properties-order:
              - fips_ids
      security:
      - scaleway: []
      x-codeSamples:
      - lang: cURL
        source: |-
          curl -X POST \
            -H "X-Auth-Token: $SCW_SECRET_KEY" \
            -H "Content-Type: application/json" \
            -d '{"fips_ids":["string"]}' \
            "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/detach"
      - lang: HTTPie
        source: |-
          http POST "https://api.scaleway.com/flexible-ip/v1alpha1/zones/{zone}/fips/detach" \
            X-Auth-Token:$SCW_SECRET_KEY \
            fips_ids:='["string"]'
